/* ----------Google fonts added---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", serif; */
/* font-family: "Inter", serif; */
/* font-family: "Lobster", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 10px solid rgb(18, 163, 5);
  font-family: "Poppins", serif;
}

/* --------------------Shared Items Styles Start's Here-------------------- */

/* ----------Shared text center---------- */
.text-center {
  text-align: center;
}

/* ----------Primary Button---------- */
.primary-btn {
  padding: 16px 12px 16px 12px;
  background: rgb(255, 89, 89);
  color: rgb(255, 255, 255);
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* ----------Shared section title styles---------- */
.section-title {
  font-size: 45px;
  font-weight: 700;
  color: rgb(18, 18, 18);
  margin-bottom: 20px;
  font-family: "Inter", serif;
}

/* ----------Shared section description styles---------- */
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: rgb(112, 112, 112);
}

/* --------------------Shared Item Styles End's Here-------------------- */

/* ----------Banner Section Container Styles----------*/
.banner-section-container {
  border: 10px solid red;
  max-width: 1440px;
  height: 669px;
  margin: 0 auto;
  margin-bottom: 130px;
  background-image: linear-gradient(
      0deg,
      rgb(18, 18, 18),
      rgba(18, 18, 18, 0.2) 100%
    ),
    url(../assets/image/banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -----banner texts styles----- */
.banner-section-container h1 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: 700;
  font-family: "Inter", serif;
}

.banner-section-container p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ----------Support Today Section Styles---------- */
.support-today-section {
  border: 10px solid red;
  max-width: 765px;
  margin: 0 auto;
  margin-bottom: 130px;
}

/* -----Donate Box Styles----- */
.donate-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 60px;
}

.donate-amount {
  border: 2px solid red;
  width: 135px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}
.donate-amount h5 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Inter", serif;
  color: rgb(112, 112, 112);
}

.donate-amount-2 {
  border: 2px solid rgb(255, 89, 89);
  width: 135px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 238, 238);
  border-radius: 5px;
}

.donate-amount-2 h5 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Inter", serif;
  color: rgb(255, 89, 89);
}

/* -----h6 text styles----- */
.support-today-section h6 {
  border: 2px solid rgb(4, 0, 255);
  font-size: 18px;
  font-weight: 400;
  color: rgb(179, 179, 179);
}

/* -----Horizontal Line styles----- */
.hr-line {
  display: flex;
  justify-content: space-around;
  height: 5px;
}
.hr-line div {
  border: 1px solid rgb(218, 218, 218);
  width: 765px;
  margin-top: 9.5px;
}

/* -----support button styles----- */
.support-button {
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* ----------Our Supporting Plan Section Styles---------- */

.supporting-plan {
  border: 10px solid blue;
  max-width: 1140px;
  height: 540px;
  margin: 0 auto;
  margin-bottom: 130px;
}
.supporting-plan p {
  margin-bottom: 50px;
}

/* ----- ----- */

.donation-plan {
  display: flex;
  justify-content: space-between;
}

/* -----Box-1----- */
.plan-box-1 {
  border: 5px solid orangered;
  width: 360px;
  height: 352px;
  border-radius: 5px;
  background: rgba(79, 157, 166, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 22px 0px 23px;
  margin-right: 24px;
}
.plan-box-1 img {
  width: 58.13px;
  height: 49.77px;
  margin-top: 63.5px;
}
.plan-box-1 h4 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(18, 18, 18);
  margin-top: 32px;
  margin-bottom: 16px;
}
.plan-box-1 p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(112, 112, 112);
  margin-bottom: 54px;
}

/* -----Box-2----- */
.plan-box-2 {
  border: 5px solid orangered;
  width: 360px;
  height: 352px;
  border-radius: 5px;
  background: rgba(255, 89, 89, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 22px 0px 23px;
}
.plan-box-2 img {
  width: 58.13px;
  height: 49.77px;
  margin-top: 63.5px;
}
.plan-box-2 h4 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(18, 18, 18);
  margin-top: 32px;
  margin-bottom: 16px;
}
.plan-box-2 p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(112, 112, 112);
  margin-bottom: 54px;
}

/* -----Box-3----- */
.plan-box-3 {
  border: 5px solid orangered;
  width: 360px;
  height: 352px;
  border-radius: 5px;
  background: rgb(255, 244, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 22px 0px 23px;
  margin-left: 24px;
}
.plan-box-3 img {
  width: 58.13px;
  height: 49.77px;
  margin-top: 63.5px;
}
.plan-box-3 h4 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(18, 18, 18);
  margin-top: 32px;
  margin-bottom: 16px;
}
.plan-box-3 p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(112, 112, 112);
  margin-bottom: 54px;
}

/* ----------1st and 2nd Contribute Section Styles---------- */

.contribute-section {
  border: 10px solid saddlebrown;
  max-width: 1040px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

/* ----- contribute text styles ----- */
.contribute-text {
  border: 2px solid rebeccapurple;
  width: 493px;
  height: 374px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 72px;
}
.contribute-text p {
  margin-bottom: 20px;
}

/* ----- button styles ----- */
.contribute-text button {
  margin-top: 10px;
}

/* ----- contribute image styles ----- */
.contribute-image {
  border: 2px solid salmon;
  width: 456px;
  height: 477px;
}
.contribute-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* ----------My Updates section styles---------- */
.my-updates-section {
  border: 10px solid red;
  width: 809px;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 130px;
}

/* -----input field section styles----- */
.input-field-section {
  border: 2px solid blue;
  width: 809px;
  height: 200px;
  margin-top: 50px;
  background-color: rgb(255, 244, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----input form styles----- */
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----Apply box-sizing to both input and button----- */
input[type="text"],
button[type="submit"] {
  height: 48px;
  box-sizing: border-box;
  border: none;
}

/* Input field styles */
input[type="text"] {
  width: 275px;
  border-radius: 5px 0px 0px 5px;
  background: rgb(217, 217, 217);
  color: rgb(170, 159, 159);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", serif;
}

/* Button styles */
button[type="submit"] {
  width: 157px;
  border-radius: 0px 5px 5px 0px;
  background: rgb(255, 89, 89);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", serif;
  cursor: pointer;
}
