/* ----------Google fonts added---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", serif; */
/* font-family: "Inter", serif; */
/* font-family: "Lobster", serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 5px solid rgb(18, 163, 5);
  font-family: "Poppins", serif;
}

/* --------------------Shared Item Styles Start's Here-------------------- */

/* ----------Shared text center---------- */
.text-center {
  text-align: center;
}

/* ----------Primary Button---------- */
.primary-btn {
  padding: 16px 12px 16px 12px;
  background: rgb(255, 89, 89);
  color: rgb(255, 255, 255);
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* --------------------Shared Item Styles End's Here-------------------- */

/* ----------Banner Section Container Styles----------*/
.banner-section-container {
  border: 10px solid red;
  max-width: 1440px;
  height: 669px;
  margin: 0 auto;
  margin-bottom: 130px;
  background-image: linear-gradient(
      0deg,
      rgb(18, 18, 18),
      rgba(18, 18, 18, 0.2) 100%
    ),
    url(../assets/image/banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -----banner texts styles----- */
.banner-section-container h1 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-weight: 700;
  font-family: "Inter", serif;
}

.banner-section-container p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", serif;
  margin-top: 20px;
  margin-bottom: 30px;
}
